body,ul,dl,dd,ol,li,p,h1,h3,h4,h5,h6,h2,input,textarea,fieldset,legend,td,th{margin:0; padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none; color:#666;}
a,input,area{outline:none;}
img{display:block; }
fieldset,img,iframe{border:none;}
h1,h3,h4,h5,h6,h2,b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font:14px/1em "微软雅黑",arial;}
table{border-collapse:collapse;}

a:hover{text-decoration: none;}
.top{height: 30px;background: #eee;}
.left li{float: left;line-height: 30px;margin-left:10px;text-align: center;}
.left .width{width: 60px;position: relative;}
.left .width:hover{background: #FFF;}
.left .lv{color: #6fa341;}
.left li .cang{width: 300px;height: 200px;text-align: left;overflow: auto;display: none;position: absolute;background: #FFF;z-index: 999;}
.left li .cang .one dd{float: left; width: 46px;height: 30px;background: #eee;line-height: 30px;}
.left li .cang .one dd:hover a{color: #6fa341; border-bottom: 1px solid #6fa341;}
.left li .cang .two{clear: both;}
.left li .cang .two dd{border-bottom:1px solid #eee ;}
.left li .cang .two dd:hover{background: #eee;}
.left li .cang .two dd:hover a{color:#6fa341;}
.right{float: right;}
.right>li{float: left;line-height: 30px;margin-right: 5px;}
.right .ju:hover a{color: #f2b127;}
.right .xian{position: relative; z-index: 999;}
.right .xian1{position: relative;z-index: 999;}
.right .xian .width1{width: 230px;position: absolute;left:-160px;border: 1px solid #eee;padding: 10px;display: none;background: #FFF;}
.right .width1 li{border-bottom: 1px dashed #eee;}
.right .width1 li .hong{border: 1px solid red; background: red;border-radius: 5px;font-size: 12px;margin-left: 2px;}
.right .width1 li .lv{margin-left: 70px;color:#6fa341;}
.right .xian:hover{background: #FFF;}
.right .xian1:hover{background: #FFF;}
.border{border-right: 1px solid black;padding-left: 5px; padding-right:10px;height: 20px;margin-top: 5px;}
.right .width1 li .border{border-right: 1px solid black;padding-left: 5px; padding-right:10px;height: 20px;margin-top: 5px;}
.right .he{width: 300px;height:260px;position: absolute;right: 0px;border: 1px solid #eee;background: #FFF;z-index: 999;display: none;}
.right .he h6{font-size: 14px;margin-top: 10px;text-align: center;}
.right .he span{color: #6fa341;}
.right .he .left1,.left2{display: inline-block;}
.right .he .left1 img{width: 100px;height: 100px; padding-left: 26px;padding-top: 20px;}
.right .he .right1{float: right;padding-right: 20px;padding-top: 16px;}
.right .he .right1 img{padding-top: 10px;}
.right .he .left2 img{width: 100px;height: 100px; padding-left: 26px;padding-top: 16px;}
.right .he .right2{float: right;padding-right: 50px;padding-top:20px;}

.row{height: 120px;}
.row img{padding-top: 20px;}
.row ul li{float: left;width: 70px;text-align: center;border-right: 1px solid #eee;}
.row ul li:hover{background: #eee;}
.col-md-5{margin-top: 40px;}
.col-md-5 .no{border-right: none;}
.col-md-3 input{float: left; margin-top: 18px;border: none;border-bottom: 1px solid #000;}
.col-md-3 img{border: none;border-bottom: 1px solid #000;}
.col-md-3 p{clear:both; font-size: 12px;}
.col-md-3 div{background: url(../img/zhuimg/icons.png) -503px -368px no-repeat;width:38px;height: 44px;float: right;}
.col-md-3 div span{background:  url(../img/zhuimg/icons.png) -515px -238px no-repeat;width:38px;height: 44px;display: block;}



.kong{height: 60px;border-top: 4px solid #ddd;}
.lunbo{padding-top: 10px;}
.lunbo input{border: none;background: #fff;color: #67a43d;padding-bottom: 10px;}


#box{width: 50%;height: 500px;float: left;}
#right1{position: relative;}
#right1 li{position: absolute;}
#right1 img{width: 500px;height: 500px;position: absolute;left: 130px;padding: 10px;}
#left1 #small-ul li img{height: 124px;width: 130px;padding: 6px;}
.jieshao{width: 50%;height: 500px;float: right;padding: 5px;position: relative;}
.jieshao .bei{background: url(../img/img4/icons.png) -446px -495px no-repeat;width: 50px;height: 30px;display: inline-block;margin-top: 10px;float: left;margin-left: 20px;}
.jieshao .yi{display:block;font-size: 20px;width: 150px;height: 30px;float: left;margin-top: 16px;padding-left: 10px;}
.jieshao h6{clear: both;padding: 5px 0 0 100px; font-size: 16px; color: #ccc;}
.jieshao .er{display: block;background: url(../img/img4/icons.png) 0px -48px no-repeat;width: 600px;height: 80px;margin-top: 10px;margin-left: 26px;line-height: 80px;}
.jieshao .er .l{font-size: 20px;color: #67a43d;font-weight: bold;padding-left: 20px;}
.jieshao .erweima{background:url(../img/img4/icons.png) -64px -7px no-repeat;width: 28px;height: 28px;position: absolute;right: 0;top:100px}
.jieshao .erweima1{position: absolute;right: 0;top:0px;display: none;}
.jieshao .san{margin-top: 10px;margin-left: 26px;}
.jieshao .san span{margin-left: 40px;width: 50px;height: 22px;background: #65a130;display: inline-block;text-align: center;line-height: 22px;font-size: 12px;border: 1px solid #ddd;}
.jieshao .s{margin-top: 20px;margin-left: 26px;position: relative;}
.jieshao .s>span{margin-right: 20px;}
.jieshao .s .youhuo{margin-left: 10px;color: #67a43d;}
.jieshao .s .s1{display: inline-block;width: 100px;height: 40px;border: 1px solid #ccc;text-align: center;line-height: 40px;}
.jieshao .dizhi{width: 300px;height: 160px;position: absolute;left: 50px;padding: 10px;border: 1px solid #ccc;top: 34px;background: #fff;display: none;}
.jieshao .zm{width: 26%;height: 30px;float: left;border: 3px solid #65a130;border-bottom: none;line-height: 30px;text-align: center;}
.jieshao .ym{width: 74%;height: 30px;float: right;border-bottom: 3px solid #65a130;}
.jieshao .dizhi li{width: 25%;float: left;height: 40px;line-height: 40px;}
.jieshao .dizhi a:hover{color:#65a130 ;}

.w{margin-top: 20px;margin-left: 26px;}
.w .w1{float: left;padding-top: 5px;}



.mai{width: 600px;height: 100px;clear: both;text-align: center;border-bottom: 1px solid #ccc;}
.mai input{width: 150px;height: 40px;}
.gw_num{border: 1px solid #dbdbdb;width: 110px;line-height: 26px;overflow: hidden;margin-left: 36px;display: inline-block;}
.gw_num em{display: block;height: 26px;width: 26px;float: left;color: #7A7979;border-right: 1px solid #dbdbdb;text-align: center;cursor: pointer;background: #ccc;}
.gw_num .num{display: block;float: left;text-align: center;width: 52px;font-style: normal;font-size: 14px;line-height: 24px;border: 0;}
.gw_num em.add{float: right;border-right: 0;border-left: 1px solid #dbdbdb;background: #ccc;}

.g{height: 84px;width: 600px;padding: 20px;}
.n .q{margin-right: 20px;}
.m .w{margin-right: 20px;margin-left: 200px;}
.g .p{margin-right: 20px;}
.g .o{margin-top: 14px;}


.jianjie{height: 500px;background: red;width: 100%;clear: both;}
